<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheCause</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Favicons -->
    <link href="images/favicon.png" rel="icon">
    <link href="images/favicon.png" rel="apple-touch-icon">
</head>
<body>
    <header>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="">
                <img class="mb-2" src="~/images/logo.png" alt="" width="100" height="50">
            </a>

            <div class="collapse navbar-collapse ml-5" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Service">Services</a>
                    </li>

                    <li class="nav-item">
                        <a style="color: #000; font-weight:bold" class="nav-link" asp-area="" asp-controller="Home" asp-action="Causes">Causes</a>
                    </li>

                    <li class="nav-item ml-5">
                        <a class="btn text-white" asp-area="" asp-controller="Petitions" asp-action="Create">Create Cause</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
               
            </div>
        </nav>
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
    </footer>

    <div class="mt-5 border-top"></div>
    <div class="row mt-5 ">
                <div class="col-12 col-md pl-5">
                    <img class="mb-2" src="images/logo.png" alt="" width="100">
                    <small class="d-block mb-3 text-muted">© 2023</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Social Media</h5>


                    <div class="mt-4">
                        <!--  AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_email"></a>
                            <a class="a2a_button_reddit"></a>

                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </div>


                </div>
                <div class="col-6 col-md">
                    <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="pColor text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">About</a></li>
                <li class="mb-1"><a class="pColor text-decoration-none" asp-area="" asp-controller="Home" asp-action="About">Feature</a></li>
                <li class="mb-1"><a class="pColor text-decoration-none" asp-area="" asp-controller="Home" asp-action="Service">Services</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <!-- <h5>About</h5> -->
                    <ul class="list-unstyled text-small">

                <li class="mb-1"><a class="pColor text-decoration-none" asp-area="" asp-controller="Home" asp-action="Policy">Policy</a></li>
                <li class="mb-1"><a class="pColor text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li class="mb-1"><a class="pColor text-decoration-none" asp-area="" asp-controller="Home" asp-action="Terms">Terms</a></li>
                    </ul>
                </div>
            </div>
       

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>
