@{
    ViewData["Title"] = "About Page";
}


<section class="container p-4">
    <div class="p-4">



        <div class="cp-mobile-app-section clearfix">





            <p class="text-secondary m-4">
                <h1 class="orange-color text-center">About us </h1>

                We are a group of concerned citizens who believe in the power of collective action to bring about positive change.
                We are united by a common cause and are committed to making our voices heard on important issues that affect us all.

                Our goal is to raise awareness and mobilize support for issues that matter to us, and to create a platform for people
                from all walks of life to come together and make a difference. We believe in the power of democracy and the ability of
                ordinary citizens to effect change.

                We are not just a petition website, but a community of people who are passionate about making the world a better place. We believe in the importance of informed, active, and engaged citizenship, and we strive to empower people with the tools and resources they need to take action.

                Whether it is advocating for better policies, fighting against injustice, or promoting environmental conservation, we believe in the power of collective action to bring about positive change. Join us today and become a part of this movement for a better future. Together, we can make a difference.


            </p>



        </div> <!-- col-10-->

        <div class="clearfix">

            <h1 class="orange-color text-center">Our Mission</h1>

            <div class="float-left">

                <img src="~/images/mis.png" />

            </div>

            <div class="float-right">
                <p>

                    Our mission is to bring about positive change through collective action and to empower individuals to
                    make their voices heard on important issues that affect us all.
                </p>

                <p> We believe in the power of democracy and the ability of ordinary citizens to effect change.

                <p>
                    Our goal is to create a platform for people from all walks of life to come together and advocate for
                    better policies, fight against injustice, and promote environmental conservation.
                </p>

                <p>
                    We strive to inform, engage, and empower individuals, and to provide them with the tools and
                    resources they need to take action.

                <p>
                    We believe in the importance of informed, active, and engaged citizenship, and we are committed
                    to promoting this through our efforts. By connecting people with like-minded individuals
                    and organizations, we aim to create a movement for positive change that will make a
                    lasting impact in the world.
                </p>

                <p>
                    Our mission is to inspire people to get involved and make a difference,
                    and to foster a sense of community where everyone can come together to make
                    the world a better place.
                </p>






                </p>
            </div>

        </div> <!-- col-10-->

        <div class="">

            <div class="float-left">

                <img src="~/images/vis.png" />

            </div>
            <h1 class="orange-color text-center">Our Vision</h1>

            <p>
                Our vision is a world where everyone has the power to make a positive impact, and where collective action can bring about meaningful change. We believe in a future where individuals are informed, engaged, and empowered to participate in the democratic process, and where their voices are heard on important issues that affect us all.

                We envision a society where justice and equality are the norm, and where environmental conservation is a priority. Our vision is of a world where people come together to advocate for better policies, to fight against injustice, and to promote positive change.

                We see a future where people are inspired to get involved and make a difference, and where communities are connected and united by a common cause. Our vision is of a world where collective action leads to meaningful and lasting change, and where everyone has the opportunity to make a positive impact in the world.

                Our vision is of a world where people come together to create a better future for all, and where the power of collective action is harnessed to bring about positive change.
            </p>



        </div>

    </div>


</section>

