@{
    ViewData["Title"] = "Policy Page";
}

<div class="container mt-4">

    <div class="p-4">


        <h1 class="orange-color text-center p-4 mt-5">Policy </h1>

        <p class="text-secondary m-4">



            <h2>Introduction</h2>
        <p>Our policy outlines the rules and guidelines for using our platform and services. By using our platform, you agree to these terms and conditions.</p>

        <h2>Privacy</h2>
        <p>We respect the privacy of our members and are committed to protecting their personal information. Our privacy policy outlines how we use and protect your information.</p>

        <h2>Content Standards</h2>
        <p>You are responsible for the content you post on our platform, including petitions, comments, and any other material. You agree not to post any content that is illegal, offensive, or otherwise inappropriate.</p>

        <h2>Modification of Policy</h2>
        <p>We reserve the right to modify this policy at any time, and will post any changes on our website. Your continued use of our services constitutes your agreement to the revised policy.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about our policy, please contact us.</p>

        <p>Our policy is designed to ensure the responsible and appropriate use of our platform and services. We encourage all members to familiarize themselves with these terms, and to contact us with any questions or concerns.</p>

        </p>


    </div>

</div>
