@{
    ViewData["Title"] = "Term Page";
}

<div class="container mt-8 ">

    <div class="p-4 mt-5">


        <h1 class="orange-color text-center p-4 mt-5">Terms of Service </h1>

        <p class="text-secondary m-4">



        <p>Our terms of service outline the rules and guidelines for using our platform and services. By using our platform, you agree to these terms and conditions.</p>

        <h2>Eligibility</h2>
        <p>Our services are intended for individuals who are at least 18 years of age. If you are under 18, you may only use our services under the supervision of a parent or guardian.</p>

        <h2>Content</h2>
        <p>You are responsible for the content you post on our platform, including petitions, comments, and any other material. You agree not to post any content that is illegal, offensive, or otherwise inappropriate.</p>

        <h2>Accuracy of Information</h2>
        <p>You agree to provide accurate information when creating a petition or using our services. We reserve the right to remove any content that is found to be false or misleading.</p>

        <h2>Privacy</h2>
        <p>We respect the privacy of our members and are committed to protecting their personal information. Our privacy policy outlines how we use and protect your information.</p>

        <h2>Modification of Terms</h2>
        <p>We reserve the right to modify these terms of service at any time, and will post any changes on our website. Your continued use of our services constitutes your agreement to the revised terms.</p>

        <h2>Termination</h2>
        <p>We reserve the right to terminate your use of our services if you violate these terms of service or engage in any illegal or inappropriate activity.</p>

        <h2>Disclaimer of Warranty</h2>
        <p>Our services are provided on an "as is" basis, and we make no warranties or representations of any kind. We are not responsible for any damages arising from your use of our services.</p>

        <p>Our terms of service are designed to ensure the responsible and appropriate use of our platform and services. We encourage all members to familiarize themselves with these terms, and to contact us with any questions or concerns.</p>


    </div>

</div>
